.heading
{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px gray;
}

.note
{
    font-size: 15;
    color: black;
}


#square_side
{
    font-size: 20;
    color: white;
}

.copy_right_footer
{
    bottom: 0;
    position: fixed;
    color: white;
    background: goldenrod;
    width: 100%;
    text-align: center;
    line-height: 2;
}

canvas{
    box-shadow: 5px 5px 5px gray;
    border: 5px solid white;
    border-radius: 20px;
}